*{
    font-family:Poppins;
}
.main{
    display: flex;
    background: black;
}

.main .common{
    background: #262626;
    border-radius: 20px;
    height: 100vh;
    border: 1px;
    
}
.side{
    width:25%;
    height: 100vh;
    margin: 10px 10px 5px 10px;
    text-align: center;
    
}
.right{
    width: 75%;
    display: flex;
    flex-direction: column;
    
    margin: 10px 10px 10px 5px;
      
}
.right .upper{
    height: 55vh;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.right .lower{
    height: 43vh;
    margin-top: 5px;
}
.cir{
    border-radius: 10px;
    text-align: center;
   
}
button{

    border-radius: 30px;
    background-color:black;
    color:white;
    justify-content:center;
    font-weight: 1px;
    width:75%;
    padding:5px;
    margin-bottom: 30px;

}.include{
    margin-top: 30px;
}
p{
    font-size: 12px;
    color: white;
}
.again{
   display: flex;
   flex-direction: row;

}
.readings{
    width: 50%;
}

.hand-image{

    right :10px;
   border-image-width: 10px;

}
table{
    border: 1px solid white;
}
th{
    border-bottom: 1px solid white;
}
th,td{
    border-right:1px solid white;
}
td:last-child{
    border: none;
}
th:last-child{
    border-right: none;
}



