.main{
    display: flex;
    background: black;
}

.main .common{
    background: #262626;
    border-radius: 20px;
    height: 100vh;
    border: 1px;
    
}
.side{
    width:25%;
    height: 100%;
    margin: 10px 10px 5px 10px;
    
}
.right{
    width: 75%;
    display: flex;
    flex-direction: column;
    
    margin: 10px 10px 10px 5px;
      
}
.right .upper{
    height: 55vh;

    

}
.right .lower{
    height: 45vh;
    
}

